<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="InfWizard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <InfWizard.Properties.Settings>
            <setting name="Last_SaveDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="Last_CreateDriverDirectory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DriverResourceUrl" serializeAs="String">
                <value>http://sites.google.com/site/libusbdotnet/driver_resources/DriverResourceDownloads.xml?attredirects=0&amp;d=1</value>
            </setting>
            <setting name="Last_DriverName" serializeAs="String">
                <value/>
            </setting>
        </InfWizard.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
