
#ifdef __GNUC__
#define _WIN32_IE 0x0400
#endif

#include <windows.h>
#include <commctrl.h>

#define ID_DIALOG_0 10000
#define ID_DIALOG_1 10001
#define ID_DIALOG_2 10002
#define ID_DIALOG_3 10003

#define ID_BUTTON_CANCEL 10003
#define ID_BUTTON_NEXT 10004
#define ID_BUTTON_BACK 10005
#define ID_LIST 10006
#define ID_TEXT_VID 10007
#define ID_TEXT_PID 10008
#define ID_TEXT_MANUFACTURER 10009
#define ID_TEXT_DEV_NAME 10010
#define ID_DUMMY 10011
#define ID_INFO_TEXT 10012
#define ID_LIST_HEADER_TEXT 10013

#ifndef __INF_WIZARD_C__


#define RC_FILE_TYPE      VFT_APP
#define RC_FILE_SUB_TYPE  VFT2_UNKNOWN
#define RC_PRODUCT_STR    "LibUsb-Win32 - Inf-File Wizard"
#define RC_FILE_NAME_STR  "inf-wizard.exe"

#include "common.rc"


ID_DIALOG_0 DIALOG DISCARDABLE  0,0,310,200 
STYLE DS_MODALFRAME | DS_SETFOREGROUND | DS_CENTER | 
    WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "LibUSB-Win32 - INF File Wizard"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "Next >",ID_BUTTON_NEXT,185,175,50,15
    PUSHBUTTON      "Cancel",ID_BUTTON_CANCEL,245,175,50,15
    GROUPBOX        "Information",ID_DUMMY,10,10,285,155
    LTEXT           0,ID_INFO_TEXT,20,25,265,100
END

ID_DIALOG_1 DIALOG DISCARDABLE  0, 0, 310, 200
STYLE DS_MODALFRAME | DS_SETFOREGROUND | DS_CENTER | 
    WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "LibUSB-Win32 - INF File Wizard "
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "Next >",ID_BUTTON_NEXT,185,175,50,15
    PUSHBUTTON      "< Back",ID_BUTTON_BACK,125,175,50,15
    PUSHBUTTON      "Cancel",ID_BUTTON_CANCEL,245,175,50,15
    GROUPBOX        "Device Selection",ID_DUMMY,10,10,285,155
    LTEXT           0,ID_LIST_HEADER_TEXT,20,25,270,30
    CONTROL         "List2",ID_LIST,WC_LISTVIEW, 
                    WS_BORDER | WS_TABSTOP | LVS_REPORT | LVS_SINGLESEL 
                    | LVS_SHOWSELALWAYS, 20,60,265,95
END

ID_DIALOG_2 DIALOG DISCARDABLE  0, 0, 310, 200
STYLE DS_MODALFRAME | DS_SETFOREGROUND | DS_CENTER | 
    WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "LibUSB-Win32 - INF File Wizard "
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "Next >",ID_BUTTON_NEXT,185,175,50,15
    PUSHBUTTON      "< Back",ID_BUTTON_BACK,125,175,50,15
    PUSHBUTTON      "Cancel",ID_BUTTON_CANCEL,245,175,50,15
    GROUPBOX        "Device Configuration",ID_DUMMY,10,10,285,155
    EDITTEXT        ID_TEXT_VID,125,35,155,14
    EDITTEXT        ID_TEXT_PID,125,55,155,14
    EDITTEXT        ID_TEXT_MANUFACTURER,125,75,155,14
    EDITTEXT        ID_TEXT_DEV_NAME,125,95,155,14
    LTEXT           "Vendor ID (hex format)",ID_DUMMY,25,35,95,15,SS_CENTERIMAGE
    LTEXT           "Product ID (hex format)",ID_DUMMY,25,55,95,15,SS_CENTERIMAGE
    LTEXT           "Manufacturer Name",ID_DUMMY,25,75,95,15,SS_CENTERIMAGE
    LTEXT           "Device Name",ID_DUMMY,25,95,95,15,SS_CENTERIMAGE
END

ID_DIALOG_3 DIALOG DISCARDABLE  0,0,310,200 
STYLE DS_MODALFRAME | DS_SETFOREGROUND | DS_CENTER | 
    WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "LibUSB-Win32 - INF File Wizard"
FONT 8, "MS Sans Serif"
BEGIN
    PUSHBUTTON      "Finish",ID_BUTTON_NEXT,245,175,50,15
    GROUPBOX        "Information",ID_DUMMY,10,10,285,155
    LTEXT           0,ID_INFO_TEXT,20,25,265,100
END

ID_MANIFEST RT_MANIFEST "manifest.txt"

#endif

